html
{
    scroll-behavior: smooth;
}
body
{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro';
}
.main
{
    background-color: #333333;
    min-height: 100vh;
}
.main1
{
    background-color: black;
    width: 10%;
    float: left;
    text-align: center;
    border-right-style: solid;
    border-right-color: #e0e0e0;
    border-right-width: 1px;
    min-height: 100vh;
}
.main1txt
{
    color: #e0e0e0;
    padding-top: 30px;
    font-size: 40px;
    font-family: 'Audiowide';
}
.main2
{
    width: 90%;
    text-align: center;
    color: #e0e0e0;
}
.smedia
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
.sm
{
    margin-top: 60vh;
}
.main2txt
{
    text-align: center;
    font-size: 100px;
    padding-top: 30vh;
    font-family: 'Source Sans Pro';
    font-weight: 900;
}
.rotate {
    animation: rotation 10s infinite linear;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 25%;
    left: 60%;
    width: 150px;
    height: 150px;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
.main2txt1
{
    font-size: 35px;
    text-align: center;
}  
@media screen and (max-width:450px)
{
    .main1
    {
        width: 20%;
        border: none;
        background-color: #333333;
    }
    .main2
    {
        width: 80%;
    }
    .rotate
    {
        width: 80px;
        height: 80px;
    }
    .main2txt
    {
        font-size: 50px;
    }
    .main2txt1
    {
        font-size: 15px;
    }
    .main1txt
    {
        margin: 10px;
    }
    .sm
    {
        margin-top: 50vh;
    }
}
.cv
{
    margin: 20px;
    padding: 12px;
    font-size: 30px;
    border-radius: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    /*background-color: black;*/
    position: absolute;
    transform: translate(-50%, -50%);
    top: 5%;
    right: -2%;
    font-family: sans-serif;
    color: white;
}
a.cv:hover
{
    color: #e0e0e0;
    text-decoration: none;
    box-shadow: 5px 5px 10px 5px #3a3a3a;
    transition: .3s;
}
a.cv:visited
{
    color: #e0e0e0;
    text-decoration: none;
}
a.cv:active
{
    color: #e0e0e0;
    text-decoration: none;
}
@media screen and (max-width:450px)
{
    .cv
    {
        font-size: 12px;
        top: 6%;
        right: -7%;
        background-color: #333333;
    }
}
.button 
{
    background-color: #333333;
    border: solid;
    border-color: #e0e0e0;
    border-radius: 20px;
    color: #e0e0e0;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    margin: 20px 2px;
    cursor: pointer;
}
/*#arr
{
    height: 22px;
    width: 35px;
    transform: rotate(90deg);
}*/
.button:hover
{
    background-color: #e0e0e0;
    color: #333333;
    transition: 0.3s;
    border-color: #333333;
}
/* Sweep To Right */
.hvr-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    border-radius: 20px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
  }
  .hvr-sweep-to-right:before {
    content: "";
    padding: 10px 22px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e0e0e0;
    border-radius: 20px;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
    color: #333333;
    border-radius: 20px;
  }
  .hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    border-radius: 20px;
  }
.abimg
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
    border-radius: 100%;
    padding: 10px;
    margin-top: 40px;
    box-shadow:  11px 11px 24px #a8a8a8,
             -11px -11px 24px #ffffff;
}  
.abtxt
{
    text-align: center;
    font-size: 25px;
    font-family: 'Source Sans Pro';
    padding: 20px;
    margin-top: 20px;
    /*background: rgba( 255, 255, 255, 0.30 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20.0px );
-webkit-backdrop-filter: blur( 20.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );*/
}
.abtxt1
{
    font-weight: 900;
    width: 100%;
    text-align: center;
    font-size: 70px;
    font-family: 'Source Sans Pro';
    padding: 10px;
    padding: 20px;
}
.about
{
    margin: 0;
    background-color: #e0e0e0;
}
.skills
{
    text-align: center;
    font-size: 50px;
    padding: 40px;
    color: #e0e0e0;
}
#skw3
{
    padding: 70px;
    background-color: #333333;
    margin-top: 50px;
}
@media screen and (max-width:600px)
{
    .skills
    {
        font-size: 30px;
        padding: 20px;
    }
    #skw3
    {
        padding: 20px;
    }
}
@media screen and (max-width:380px)
{
    .abtxt
    {
        padding: 10px;
        font-size: 20px;
    }
    .abtxt1
    {
        font-size: 50px;
    }
} 
.website
{
    text-align: center;
    font-size: 50px;
    padding: 30px;
}
.des
{
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-radius: 100%;
    border-color: #e0e0e0;
    border-width: 10px;
    transition: 0.3s;
}
.des:hover
{
    transform: scale(0.9);
}
.q1
{
    text-align: center;
}
.q11
{
    text-align: center;
}
#con1
{
    padding: 20px;
}
@media screen and (max-width:800px)
{
    .des
    {
        margin-top: 50px;
    }
}
@media screen and (max-width:600px)
{
    .des
    {
        margin-top: 40px;
    }
    .website
    {
        font-size: 30px;
        padding: 10px;
    }
}
.projtxt
{
    text-align: center;
    padding: 30px;
    color: #333333;
    font-size: 50px;
    font-weight: 500;
}
.projects
{
    background-color: white;
}
.container1
{
    position: relative;
    width: 50%;
}
.proimg
{
    height: 100%;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    transition: .3s;
    box-shadow:  9px 9px 18px #666666,
             -9px -9px 18px #ffffff;
}
.proimg:hover
{
    transition: .3s;
    box-shadow:  9px 9px 48px #666666,
             -9px -9px 48px #ffffff;
             transform: scale(1.1);
}
.prohead
{
    font-weight: 600;
}
.prodet
{
    margin-top: 30px;
}
#procol1
{
    padding: 20px;
}
#procol2
{
    padding: 20px;
}
.butto 
{
    background-color: #333333;
    border: solid;
    border-color: #e0e0e0;
    border-radius: 20px;
    color: #e0e0e0;
    padding: 18px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 20px 2px;
    cursor: pointer;
}
@media screen and (max-width:800px)
{
    .procol1
    {
        padding: 10px;
    }
    .procol2
    {
        padding: 10px;
    }
}
#prorow
{
    margin-top: 40px;
}
@media screen and (max-width:600px)
{
    .procol1
    {
        padding: 0px;
    }
    .procol2
    {
        padding: 0px;
    }
    #prorow
    {
        margin-top: 10px;
    }
}
@media screen and (max-width:400px)
{
    .butto
    {
        font-size: 15px;
        padding: 15px 18px;
    }
    .projects
    {
        text-align: center;
    }
}
@media screen and (max-width:330px)
{
    .butto
    {
        font-size: 12px;
        padding: 15px 18px;
    }
}
.work
{
    margin-top: 60px;
    background-color: #333333;
    min-height: 80vh;
}
.wi
{
    padding: 20px;
    text-align: center;
    font-size: 50px;
    color: #e0e0e0;
}
.workimg0
{
    height: 200px;
    width: 200px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    margin-top: 200px;
    padding: 10px;
}
.workimg1
{
    height: 200px;
    width: 200px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    margin-top: 200px;
    padding: 10px;
}
.workimg2
{
    height: 350px;
    width: 350px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    right: 50%;
    margin-top: 200px;
    padding: 10px;
}
.worktxt0
{
    min-height: 375px;
    position: absolute;
    left: 3%;
    right: 3%;
    font-size: 20px;
    margin-top: 30px;
    padding: 10px;
    text-align: center;
    color: #333333;
    background: rgba( 255, 255, 255, 0.60 );
    box-shadow: 0 3px 4px 0 rgba( 255, 255, 255, 0.18 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.worktxt1
{
    min-height: 375px;
    position: absolute;
    left: 3%;
    right: 3%;
    font-size: 20px;
    margin-top: 30px;
    padding: 10px;
    text-align: center;
    color: #333333;
    background: rgba( 255, 255, 255, 0.60 );
    box-shadow: 0 3px 4px 0 rgba( 255, 255, 255, 0.18 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.worktxt2
{
    min-height: 375px;
    position: absolute;
    left: 3%;
    right: 3%;
    font-size: 20px;
    margin-top: 30px;
    padding: 10px;
    text-align: center;
    color: #333333;
    background: rgba( 255, 255, 255, 0.60 );
    box-shadow: 0 3px 4px 0 rgba( 255, 255, 255, 0.18 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 20px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
#con3
{
    padding: 20px;
}
#row3
{
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
@media screen and (max-width:1030px)
{
    #row3
    {
        padding: 0px;
    }
    #con3
    {
        padding: 0px;
    }
    .worktxt0
    {
        min-height: 500px;
    }
    .worktxt1
    {
        min-height: 500px;
    }
    .worktxt2
    {
        min-height: 500px;
    }
    .work
    {
        min-height: 55vh;
    }
}
@media screen and (max-width:800px)
{
    .worktxt0
    {
        min-height: 375px;
    }
    .worktxt1
    {
        min-height: 375px;
        margin-top: 450px;
    }
    .worktxt2
    {
        min-height: 375px;
        margin-top: 870px;
    }
    .workimg1
    {
        margin-top: 650px;
    }
    .workimg2
    {
        margin-top: 1050px;
    }
    .work
    {
        min-height: 200vh;
    }
    .wi
    {
        font-size: 40px;
    }
}
@media screen and (max-width:600px)
{
    .wi
    {
        font-size: 30px;
    }
}
@media screen and (max-width:450px)
{
    #row3
    {
        padding: 0px;
        margin-left: 1px;
        margin-right: 1px;
    }
    .workimg2
    {
        margin-top: 980px;
    }
    .worktxt2
    {
        margin-top: 800px;
        padding: 5px;
    }
    .worktxt0
    {
        padding: 5px;
        margin-top: 0px;
    }
    .worktxt1
    {
        padding: 5px;
        margin-top: 400px;
    }
    .workimg1
    {
        margin-top: 600px;
    }
}
@media screen and (max-width:380px)
{
    .work
    {
        min-height: 240vh;
    }
    .worktxt2
    {
        margin-top: 880px;
    }
    .workimg2
    {
        margin-top: 1050px;
    }
}
@media screen and (max-width:370px)
{
    #row3
    {
        margin-left: 1px;
        margin-right: 1px;
        padding: 0px;
    }
    .work
    {
        min-height: 240vh;
    }
    .worktxt2
    {
        margin-top: 820px;
    }
    .workimg2
    {
        margin-top: 1000px;
    }
}
@media screen and (max-width:330px)
{
    .work
    {
        min-height: 240vh;
    }
    .worktxt2
    {
        margin-top: 825px;
    }
    .workimg0
    {
        height: 200px;
        width: 200px;
    }
    .workimg1
    {
        margin-top: 570px;
        height: 200px;
        width: 200px;
    }
    .workimg2
    {
        margin-top: 1000px;
        height: 290px;
        width: 290px;
    }
    #row3
    {
        padding: 0px;
        margin-left: 1px;
        margin-right: 1px;
    }
    #con3
    {
        padding: 0px;
    }
}